* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #666;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.4;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

h4 {
    font-size: 30px;    
    font-weight: 700;
    margin-top: 15px;
}

p, li {
    font-size: 18px;
}

.top-nav {
    background-color: #faab43;
    min-height: 56px;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 60px;
}

.nav-link {
    font-size: 16px;
    color: #474747;
}

.nav-link:hover {
    color: #727272;
}

.navbar-nav {
    margin-left: 25px;
}

.hero {
    background-image: url('https://wagwalking.com/_next/static/images/homepage-hero-desktop-0a6c66b6cc9a31179718d890644301c4.jpg');
    background-size: cover;
    height: 400px;
}

.hero-container {
    padding-top: 35px;
    padding-left: 160px;
    padding-right: 160px;
}

.filter-block {
    position: absolute;
    top: 369px;
    left: 300px;
    width: 1130px;
    margin: 0 auto;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swiper {
    margin-bottom: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.swiper-slide img {
    width: 100px;
}

.swiper-slide p {
    margin: 10px 0 0;
    color: #707070;
}

.swiper-slide.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #007bff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleY(1);
    transition: transform 0.3s ease;
}

.category-content {
    position: absolute;
    top: 497px;
    left: 300px;
    width: 1130px;
    background-color: #fff;
    margin-top: 20px;
    padding: 35px 65px 75px 65px;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-content-text p {
    font-size: 20px;
    color: #000;
}

.category-content-btn {
    width: 100%;
    background-color: #00bf8f;
    font-size: 20px;
    color: #fff;
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
}

.why-wag {
    margin-top: 160px;
    margin-bottom: 100px;
}

.why-pics {
    width: 120px;
    margin-bottom: 20px;
}

.why-text-block {
    width: 450px;
    margin-bottom: 30px;
}

.why-wag-btn {
    background-color: #00bf8f;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
}

.help-wanted {
    background-image: url('https://wagwalking.com/_next/static/images/animal-lovers-wanted-section-background-desktop-b046c10756219e752352e6d978516fee.jpg');
    background-position: top center;
    background-size: cover;
    height: 500px;
}

.help-wanted-text {
    text-align: right;
    margin-top: 120px;

}

.help-wanted-text h2 {
    color: #00bf8f;
}

.help-wanted-text p {
    margin-left: auto;
    padding: 24px 0px;
    width: 400px;
}

.help-wanted-btn {
    background-color: #00bf8f;
    color: #fff;
    width: 300px;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
}

.states-row {
    width: 95%;
    margin: 0 auto;
}

.city {
    font-weight: bolder;
    margin-bottom: -6px;
}

.total-caregivers {
    font-size: 14px;
}

.find-caregiver {
    font-size: 18px;
}

footer {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: rgb(153, 153, 153);
}

.footer-logo {
    width: 100px;
    padding-bottom: 10px;
}

.app-img {
    width: 150px;
    padding: 40px 0px;
}

.first-footer-column ul {
    list-style: none;
}

.footer-column {
    padding: 10px;
}

.footer-column a {
    text-decoration: none;
}

.footer-column h4 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgb(0, 191, 143);
}

.footer-column ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
    color: rgb(153, 153, 153);
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    font-size: 14px;
}

.footer-bottom-left {
    width: 200px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
}

.footer-links a {
    text-decoration: none;
}

.footer-social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
}

.footer-social li a i {
    font-size: 30px;
    color: rgb(173, 173, 173);
}

.footer-break {
    width: 100%; 
    color: rgba(105, 105, 105, 0.584);
}