* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    color: #666;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.4;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
}

h4 {
    font-size: 30px;    
    font-weight: 700;
    margin-top: 15px;
}

h5 {
    font-size: 24px;
    font-weight: 700;
}

h6 {
    font-size: 18px;
}

p, li {
    font-size: 18px;
}

.top-nav {
    background-color: #faab43;
    min-height: 56px;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
}

.logo {
    width: 60px;
}

.nav-link {
    font-size: 16px;
    color: #474747;
    padding: 0;
}

.nav-link:hover {
    color: #727272;
}

.deals {
    background-color: #fae7a8;
    border: none;
    border-radius: 30px;
    padding: 2px 13px;
}

.right-nav-link li a {
    color: #00bf8f !important;
}

.right-nav-link:hover {
    color: #00bf8f;
}

.navbar-nav {
    margin-left: 25px;
}

.hero {
    background-image: url('https://wagwalking.com/_next/static/images/homepage-hero-desktop-0a6c66b6cc9a31179718d890644301c4.jpg');
    background-size: cover;
    height: 400px;
}

.hero-container {
    padding-top: 35px;
    padding-left: 160px;
    padding-right: 160px;
}

.categories {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.filter-block {
    width: 100%;
    max-width: 1120px;
    margin: 49px auto 0;
    border: none;
    border-radius: 8px 8px 0 0;
    background-color: rgb(242, 242, 242);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    max-width: 226px;
    min-height: 153px;
    margin: 0 auto;
}

.swiper-slide img {
    width: 50%;
    max-width: 100px;
}

.swiper-slide p {
    margin: 10px 0 0;
    color: #707070;
}

.swiper-slide.active::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #00bf8f;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.category-content {
    width: 100%;
    max-width: 1120px;
    background-color: #fff;
    margin: 0px auto 0 auto;
    padding: 35px 50px 85px 50px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.category-content-text p {
    font-size: 20px;
    color: #000;
}

.category-content-btn {
    width: 100%;
    background-color: #00bf8f;
    font-size: 20px;
    color: #fff;
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.why-wag {
    margin-top: 160px;
    margin-bottom: 100px;
}

.why-pics {
    width: 120px;
    margin-bottom: 20px;
}

.why-text-block {
    width: 450px;
    margin-bottom: 30px;
}

.why-wag-btn {
    background-color: #00bf8f;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
}

.swiper-container-1 {
    position: relative;
}

.swiper-slide-1 {
    background-color: #fff;
    max-width: 328px;
    height: 215px;
    border: none;
    border-radius: 10px;
    padding: 16px;
    overflow-y: scroll;
}

.swiper-img-1 {
    position: absolute;
}

.swiper-slide-1 p{
    font-size: 16px;
}

.swiper-button-next-1, .swiper-button-prev-1 {
    background-color: #00bf8f;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.swiper-button-next-1 {
    right: 16px;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2014%2022%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2.792%2021.97a2.63%202.63%200%2001-1.861-4.492l6.035-6.036L.93%205.407a2.63%202.63%200%20113.722-3.721L12.55%209.58a2.63%202.63%200%20010%203.722l-7.896%207.896a2.623%202.623%200%2001-1.86.77%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
    background-position: 8px;
    background-size: 27px;
}

.swiper-button-prev-1 {
    left: 16px;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2014%2022%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2.792%2021.97a2.63%202.63%200%2001-1.861-4.492l6.035-6.036L.93%205.407a2.63%202.63%200%20113.722-3.721L12.55%209.58a2.63%202.63%200%20010%203.722l-7.896%207.896a2.623%202.623%200%2001-1.86.77%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
    transform: rotate(180deg);
    background-position: 8px;
    background-size: 27px;

}

.swiper-button-next-1:after, .swiper-button-prev-1:after {
    content: "";
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.partner-text {
    max-width: 600px;
}

.green-wave {
    margin-top: -14px;
    width: 100%;
    height: 150px;
}

.card {
    width: 324px;
    height: 200px;
    border: none;
    border-radius: 1rem;
    background-size: cover; 
    background-position: center;
}

.card-img-overlay {
    background: rgba(0, 0, 0, 0.20);
    border-radius: 1rem;
}

.swiper-button-next-2, .swiper-button-prev-2 {
    background-color: #00bf8f;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.swiper-button-next-2 {
    margin-top: 20px;
    right: 85px;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2014%2022%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2.792%2021.97a2.63%202.63%200%2001-1.861-4.492l6.035-6.036L.93%205.407a2.63%202.63%200%20113.722-3.721L12.55%209.58a2.63%202.63%200%20010%203.722l-7.896%207.896a2.623%202.623%200%2001-1.86.77%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
    background-position: 8px;
    background-size: 27px;
}

.swiper-button-prev-2 {
    left: 85px;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2014%2022%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2.792%2021.97a2.63%202.63%200%2001-1.861-4.492l6.035-6.036L.93%205.407a2.63%202.63%200%20113.722-3.721L12.55%209.58a2.63%202.63%200%20010%203.722l-7.896%207.896a2.623%202.623%200%2001-1.86.77%22%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E');
    transform: rotate(180deg);
    background-position: 8px;
    background-size: 27px;

}

.swiper-button-next-2:after, .swiper-button-prev-2:after {
    content: "";
    width: 22px;
    height: 22px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.help-wanted {
    background-image: url('https://wagwalking.com/_next/static/images/animal-lovers-wanted-section-background-desktop-b046c10756219e752352e6d978516fee.jpg');
    background-position: top center;
    background-size: cover;
    height: 500px;
}

.help-wanted-text {
    text-align: right;
    margin-top: 120px;

}

.help-wanted-text h2 {
    color: #00bf8f;
}

.help-wanted-text p {
    margin-left: auto;
    padding: 24px 0px;
    width: 400px;
}

.help-wanted-btn {
    background-color: #00bf8f;
    color: #fff;
    width: 300px;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
}

.states-row {
    width: 95%;
    margin: 0 auto;
}

.city {
    font-weight: bolder;
    margin-bottom: -6px;
}

.total-caregivers {
    font-size: 14px;
}

.find-caregiver {
    font-size: 18px;
}

footer {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 0 auto;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(153, 153, 153);
}

.footer-logo {
    width: 100px;
    padding-bottom: 10px;
}

.help-btn {
    font-size: 18px;
    color: #00bf8f;
}

.app-img {
    width: 150px;
    padding: 40px 0px;
}

.first-footer-column ul {
    list-style: none;
}

.footer-column {
    padding: 10px;
}

.footer-column h4 {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 10px;
    color: rgb(0, 191, 143);
}

.footer-column ul {
    font-size: 14px;
    list-style: none;
    padding: 0;
    color: rgb(153, 153, 153);
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    font-size: 14px;
}

.footer-bottom-left {
    width: 200px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
}

.footer-links a {
    text-decoration: none;
}

.socials {
    display: flex;
    justify-content: end;
    gap: 12px;
}

.socials li a i {
    font-size: 30px;
    color: rgb(173, 173, 173);
}

.footer-break {
    width: 100%; 
    color: rgba(105, 105, 105, 0.584);
}